.editor {
    box-sizing: border-box;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    background: #fefefe;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }
  
  .options {
    margin-bottom: 20px;
  }

  .header-one {
    font-size: 3rem;
    margin: .8rem 0;
  }
  .header-two {
    font-size: 2rem;
    margin: .8rem 0;
  }
  .paragraph {
    font-size: 1rem;
    margin: .8rem 0;
  }
  .left-block * {
    text-align: left;
  }
  .center-block * {
    text-align: center;
  }
  .right-block * {
    text-align: right;
  }
  .editor {
    box-sizing: border-box;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    background: #fefefe;
  }
  
  .editor:global(.public-DraftEditor-content) {
    min-height: 140px;
  }
  
  .options {
    margin-bottom: 20px;
  }
  .link {
    color: blue;
    text-decoration: underline;
  }